### API Open Weather

In [17]:
import requests
from dotenv import load_dotenv
import os
import re
import pandas as pd
import json
from pandas import json_normalize

## Import the DataFrame and getting the access token

In [3]:
# Reading the files
weather_climbing_data=pd.read_csv("weather_climbing_clean.csv")

In [4]:
load_dotenv()

True

In [5]:
op_token= os.getenv("OPEN_WEATHER_TOKEN")

## Making requests to the API

In [10]:
# Wheather at the exact moment 8-11-2020 17:00
response=requests.get(f"http://api.openweathermap.org/data/2.5/weather?lat=46.879967&lon=-121.726906&appid={op_token}")

In [11]:
data=json.loads(response.text)

In [12]:
print(data)

{'coord': {'lon': -121.73, 'lat': 46.88}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 273.99, 'feels_like': 270.62, 'temp_min': 270.37, 'temp_max': 276.48, 'pressure': 1024, 'humidity': 93}, 'visibility': 10000, 'wind': {'speed': 1.94, 'deg': 270}, 'clouds': {'all': 75}, 'dt': 1604945219, 'sys': {'type': 1, 'id': 5366, 'country': 'US', 'sunrise': 1604934127, 'sunset': 1604968775}, 'timezone': -28800, 'id': 5806769, 'name': 'Pierce', 'cod': 200}

### Obtaining the data with Onecall Option

In [13]:
'''A more useful way of getting the data with Onecall.
Shows the weather for day 08/11/2020 at 17:00, minute fortcast for 1 hour, hourly forecast, daily forecast 7 days and the
historical weather for the 5 previous days. '''

api_key = f"{op_token}"
lat = "46.879967"
lon = "-121.726906"
url = "https://api.openweathermap.org/data/2.5/onecall?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)
dt="1604361600"

response = requests.get(url)
data = json.loads(response.text)
print(data)

{'lat': 46.88, 'lon': -121.73, 'timezone': 'America/Los_Angeles', 'timezone_offset': -28800, 'current': {'dt': 1604945393, 'sunrise': 1604934127, 'sunset': 1604968775, 'temp': 0.77, 'feels_like': -2.7, 'pressure': 1024, 'humidity': 93, 'dew_point': -0.2, 'uvi': 1.45, 'clouds': 75, 'visibility': 10000, 'wind_speed': 2.08, 'wind_deg': 267, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]}, 'minutely': [{'dt': 1604945400, 'precipitation': 0}, {'dt': 1604945460, 'precipitation': 0}, {'dt': 1604945520, 'precipitation': 0}, {'dt': 1604945580, 'precipitation': 0}, {'dt': 1604945640, 'precipitation': 0}, {'dt': 1604945700, 'precipitation': 0}, {'dt': 1604945760, 'precipitation': 0}, {'dt': 1604945820, 'precipitation': 0}, {'dt': 1604945880, 'precipitation': 0}, {'dt': 1604945940, 'precipitation': 0}, {'dt': 1604946000, 'precipitation': 0}, {'dt': 1604946060, 'precipitation': 0}, {'dt': 1604946120, 'precipitation': 0}, {'dt': 1604946180, 'precipitation': 0}, {'dt': 1604946240, 'precipitation': 0}, {'dt': 1604946300, 'precipitation': 0}, {'dt': 1604946360, 'precipitation': 0}, {'dt': 1604946420, 'precipitation': 0}, {'dt': 1604946480, 'precipitation': 0}, {'dt': 1604946540, 'precipitation': 0}, {'dt': 1604946600, 'precipitation': 0}, {'dt': 1604946660, 'precipitation': 0}, {'dt': 1604946720, 'precipitation': 0}, {'dt': 1604946780, 'precipitation': 0}, {'dt': 1604946840, 'precipitation': 0}, {'dt': 1604946900, 'precipitation': 0}, {'dt': 1604946960, 'precipitation': 0}, {'dt': 1604947020, 'precipitation': 0}, {'dt': 1604947080, 'precipitation': 0}, {'dt': 1604947140, 'precipitation': 0}, {'dt': 1604947200, 'precipitation': 0}, {'dt': 1604947260, 'precipitation': 0}, {'dt': 1604947320, 'precipitation': 0}, {'dt': 1604947380, 'precipitation': 0}, {'dt': 1604947440, 'precipitation': 0}, {'dt': 1604947500, 'precipitation': 0}, {'dt': 1604947560, 'precipitation': 0}, {'dt': 1604947620, 'precipitation': 0}, {'dt': 1604947680, 'precipitation': 0}, {'dt': 1604947740, 'precipitation': 0}, {'dt': 1604947800, 'precipitation': 0}, {'dt': 1604947860, 'precipitation': 0}, {'dt': 1604947920, 'precipitation': 0}, {'dt': 1604947980, 'precipitation': 0}, {'dt': 1604948040, 'precipitation': 0}, {'dt': 1604948100, 'precipitation': 0}, {'dt': 1604948160, 'precipitation': 0}, {'dt': 1604948220, 'precipitation': 0}, {'dt': 1604948280, 'precipitation': 0}, {'dt': 1604948340, 'precipitation': 0}, {'dt': 1604948400, 'precipitation': 0}, {'dt': 1604948460, 'precipitation': 0}, {'dt': 1604948520, 'precipitation': 0}, {'dt': 1604948580, 'precipitation': 0}, {'dt': 1604948640, 'precipitation': 0}, {'dt': 1604948700, 'precipitation': 0}, {'dt': 1604948760, 'precipitation': 0}, {'dt': 1604948820, 'precipitation': 0}, {'dt': 1604948880, 'precipitation': 0}, {'dt': 1604948940, 'precipitation': 0}, {'dt': 1604949000, 'precipitation': 0}], 'hourly': [{'dt': 1604944800, 'temp': 0.77, 'feels_like': -2.7, 'pressure': 1024, 'humidity': 93, 'dew_point': -0.2, 'clouds': 75, 'visibility': 10000, 'wind_speed': 2.08, 'wind_deg': 267, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'pop': 0}, {'dt': 1604948400, 'temp': -3.87, 'feels_like': -8.01, 'pressure': 1023, 'humidity': 90, 'dew_point': -5.11, 'clouds': 87, 'visibility': 10000, 'wind_speed': 2.15, 'wind_deg': 268, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'pop': 0}, {'dt': 1604952000, 'temp': -7.23, 'feels_like': -11.65, 'pressure': 1022, 'humidity': 92, 'dew_point': -8.19, 'clouds': 95, 'visibility': 6429, 'wind_speed': 2.14, 'wind_deg': 269, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'pop': 0}, {'dt': 1604955600, 'temp': -8.8, 'feels_like': -13.21, 'pressure': 1021, 'humidity': 93, 'dew_point': -9.62, 'clouds': 98, 'visibility': 10000, 'wind_speed': 1.96, 'wind_deg': 263, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'pop': 0}, {'dt': 1604959200, 'temp': -9.35, 'feels_like': -13.8, 'pressure': 1021, 'humidity': 95, 'dew_point': -9.93, 'clouds': 100, 'visibility': 10000, 'wind_speed': 1.99, 'wind_deg': 256, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'pop': 0}, {'dt': 1604962800, 'temp': -9.69, 'feels_like': -14.23, 'pressure': 1020, 'humidity': 98, 'dew_point': -10.44, 'clouds': 100, 'visibility': 10000, 'wind_speed': 2.12, 'wind_deg': 259, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'pop': 0}, {'dt': 1604966400, 'temp': -10.59, 'feels_like': -15.05, 'pressure': 1020, 'humidity': 100, 'dew_point': -8.86, 'clouds': 100, 'visibility': 9499, 'wind_speed': 1.94, 'wind_deg': 255, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'pop': 0}, {'dt': 1604970000, 'temp': -11.6, 'feels_like': -15.86, 'pressure': 1019, 'humidity': 100, 'dew_point': -7.56, 'clouds': 96, 'visibility': 950, 'wind_speed': 1.56, 'wind_deg': 242, 'weather': [{'id': 600, 'main': 'Snow', 'description': 'light snow', 'icon': '13n'}], 'pop': 0.42, 'snow': {'1h': 0.14}}, {'dt': 1604973600, 'temp': -11.26, 'feels_like': -15.58, 'pressure': 1018, 'humidity': 100, 'dew_point': -6.29, 'clouds': 98, 'visibility': 171, 'wind_speed': 1.68, 'wind_deg': 235, 'weather': [{'id': 600, 'main': 'Snow', 'description': 'light snow', 'icon': '13n'}], 'pop': 0.63, 'snow': {'1h': 0.41}}, {'dt': 1604977200, 'temp': -10.83, 'feels_like': -15.26, 'pressure': 1017, 'humidity': 100, 'dew_point': -5.69, 'clouds': 98, 'visibility': 126, 'wind_speed': 1.87, 'wind_deg': 232, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.77, 'snow': {'1h': 0.83}}, {'dt': 1604980800, 'temp': -10.34, 'feels_like': -14.72, 'pressure': 1016, 'humidity': 100, 'dew_point': -5.17, 'clouds': 99, 'visibility': 160, 'wind_speed': 1.86, 'wind_deg': 202, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.84, 'snow': {'1h': 1.55}}, {'dt': 1604984400, 'temp': -9.81, 'feels_like': -14.2, 'pressure': 1016, 'humidity': 100, 'dew_point': -4.3, 'clouds': 99, 'visibility': 99, 'wind_speed': 1.93, 'wind_deg': 228, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.92, 'snow': {'1h': 2.55}}, {'dt': 1604988000, 'temp': -9.25, 'feels_like': -14.14, 'pressure': 1015, 'humidity': 100, 'dew_point': -3.7, 'clouds': 99, 'visibility': 70, 'wind_speed': 2.7, 'wind_deg': 253, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.99, 'snow': {'1h': 1.84}}, {'dt': 1604991600, 'temp': -9.81, 'feels_like': -15.23, 'pressure': 1015, 'humidity': 100, 'dew_point': -4.18, 'clouds': 100, 'visibility': 62, 'wind_speed': 3.4, 'wind_deg': 260, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.9, 'snow': {'1h': 3.27}}, {'dt': 1604995200, 'temp': -10.31, 'feels_like': -16.24, 'pressure': 1014, 'humidity': 100, 'dew_point': -4.71, 'clouds': 100, 'visibility': 70, 'wind_speed': 4.07, 'wind_deg': 257, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.9, 'snow': {'1h': 3.07}}, {'dt': 1604998800, 'temp': -10.79, 'feels_like': -17.6, 'pressure': 1014, 'humidity': 100, 'dew_point': -5.44, 'clouds': 100, 'visibility': 199, 'wind_speed': 5.28, 'wind_deg': 260, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.86, 'snow': {'1h': 0.95}}, {'dt': 1605002400, 'temp': -10.66, 'feels_like': -18.17, 'pressure': 1014, 'humidity': 100, 'dew_point': -5.34, 'clouds': 100, 'visibility': 240, 'wind_speed': 6.3, 'wind_deg': 255, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.88, 'snow': {'1h': 0.52}}, {'dt': 1605006000, 'temp': -10.65, 'feels_like': -18.67, 'pressure': 1014, 'humidity': 100, 'dew_point': -5.18, 'clouds': 100, 'visibility': 107, 'wind_speed': 7.03, 'wind_deg': 262, 'weather': [{'id': 600, 'main': 'Snow', 'description': 'light snow', 'icon': '13n'}], 'pop': 0.88, 'snow': {'1h': 0.42}}, {'dt': 1605009600, 'temp': -10.75, 'feels_like': -18.14, 'pressure': 1015, 'humidity': 100, 'dew_point': -5.42, 'clouds': 100, 'visibility': 473, 'wind_speed': 6.12, 'wind_deg': 267, 'weather': [{'id': 600, 'main': 'Snow', 'description': 'light snow', 'icon': '13n'}], 'pop': 0.88, 'snow': {'1h': 0.43}}, {'dt': 1605013200, 'temp': -10.82, 'feels_like': -17.07, 'pressure': 1015, 'humidity': 100, 'dew_point': -5.32, 'clouds': 100, 'visibility': 127, 'wind_speed': 4.48, 'wind_deg': 268, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.91, 'snow': {'1h': 0.63}}, {'dt': 1605016800, 'temp': -10.64, 'feels_like': -16.82, 'pressure': 1015, 'humidity': 100, 'dew_point': -5.01, 'clouds': 99, 'visibility': 58, 'wind_speed': 4.39, 'wind_deg': 269, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.9, 'snow': {'1h': 1.37}}, {'dt': 1605020400, 'temp': -10.72, 'feels_like': -16.59, 'pressure': 1014, 'humidity': 100, 'dew_point': -5.1, 'clouds': 100, 'visibility': 62, 'wind_speed': 3.95, 'wind_deg': 269, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.88, 'snow': {'1h': 1.59}}, {'dt': 1605024000, 'temp': -10.59, 'feels_like': -16.26, 'pressure': 1014, 'humidity': 100, 'dew_point': -4.98, 'clouds': 100, 'visibility': 56, 'wind_speed': 3.67, 'wind_deg': 268, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.88, 'snow': {'1h': 1.9}}, {'dt': 1605027600, 'temp': -10.43, 'feels_like': -15.93, 'pressure': 1014, 'humidity': 100, 'dew_point': -4.84, 'clouds': 100, 'visibility': 45, 'wind_speed': 3.44, 'wind_deg': 265, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.88, 'snow': {'1h': 1.97}}, {'dt': 1605031200, 'temp': -10.26, 'feels_like': -15.6, 'pressure': 1014, 'humidity': 100, 'dew_point': -4.71, 'clouds': 100, 'visibility': 52, 'wind_speed': 3.24, 'wind_deg': 266, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.84, 'snow': {'1h': 1.28}}, {'dt': 1605034800, 'temp': -10.24, 'feels_like': -15.3, 'pressure': 1014, 'humidity': 100, 'dew_point': -4.69, 'clouds': 100, 'visibility': 96, 'wind_speed': 2.83, 'wind_deg': 260, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.91, 'snow': {'1h': 0.79}}, {'dt': 1605038400, 'temp': -9.82, 'feels_like': -14.5, 'pressure': 1013, 'humidity': 100, 'dew_point': -4.3, 'clouds': 100, 'visibility': 110, 'wind_speed': 2.34, 'wind_deg': 251, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.97, 'snow': {'1h': 1.12}}, {'dt': 1605042000, 'temp': -9.57, 'feels_like': -14.43, 'pressure': 1013, 'humidity': 100, 'dew_point': -3.93, 'clouds': 100, 'visibility': 63, 'wind_speed': 2.63, 'wind_deg': 250, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.99, 'snow': {'1h': 2.27}}, {'dt': 1605045600, 'temp': -9.8, 'feels_like': -14.63, 'pressure': 1012, 'humidity': 100, 'dew_point': -4.11, 'clouds': 100, 'visibility': 47, 'wind_speed': 2.56, 'wind_deg': 255, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.99, 'snow': {'1h': 2.83}}, {'dt': 1605049200, 'temp': -9.92, 'feels_like': -14.62, 'pressure': 1013, 'humidity': 100, 'dew_point': -4.21, 'clouds': 100, 'visibility': 38, 'wind_speed': 2.36, 'wind_deg': 256, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 0.99, 'snow': {'1h': 2.81}}, {'dt': 1605052800, 'temp': -9.95, 'feels_like': -14.79, 'pressure': 1013, 'humidity': 100, 'dew_point': -4.2, 'clouds': 100, 'visibility': 41, 'wind_speed': 2.55, 'wind_deg': 254, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'pop': 1, 'snow': {'1h': 2.67}}, {'dt': 1605056400, 'temp': -10.09, 'feels_like': -15.02, 'pressure': 1013, 'humidity': 100, 'dew_point': -4.32, 'clouds': 100, 'visibility': 38, 'wind_speed': 2.67, 'wind_deg': 267, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.98, 'snow': {'1h': 3.02}}, {'dt': 1605060000, 'temp': -10.34, 'feels_like': -15.14, 'pressure': 1014, 'humidity': 100, 'dew_point': -4.58, 'clouds': 100, 'visibility': 41, 'wind_speed': 2.45, 'wind_deg': 290, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.98, 'snow': {'1h': 2.64}}, {'dt': 1605063600, 'temp': -11.02, 'feels_like': -15.42, 'pressure': 1014, 'humidity': 100, 'dew_point': -5.29, 'clouds': 100, 'visibility': 58, 'wind_speed': 1.81, 'wind_deg': 294, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.96, 'snow': {'1h': 2.05}}, {'dt': 1605067200, 'temp': -11.45, 'feels_like': -15.9, 'pressure': 1015, 'humidity': 100, 'dew_point': -5.78, 'clouds': 100, 'visibility': 118, 'wind_speed': 1.85, 'wind_deg': 303, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13n'}], 'pop': 0.96, 'snow': {'1h': 1.13}}, {'dt': 1605070800, 'temp': -12.06, 'feels_like': -16.48, 'pressure': 1016, 'humidity': 100, 'dew_point': -6.44, 'clouds': 100, 'visibility': 348, 'wind_speed': 1.74, 'wind_deg': 305, 'weather': [{'id': 600, 'main': 'Snow', 'description': 'light snow', 'icon': '13n'}], 'pop': 0.96, 'snow': {'1h': 0.3}}, {'dt': 1605074400, 'temp': -12.93, 'feels_like': -17.22, 'pressure': 1017, 'humidity': 100, 'dew_point': -7.39, 'clouds': 100, 'visibility': 712, 'wind_speed': 1.48, 'wind_deg': 306, 'weather': [{'id': 600, 'main': 'Snow', 'description': 'light snow', 'icon': '13n'}], 'pop': 0.96, 'snow': {'1h': 0.15}}, {'dt': 1605078000, 'temp': -14.01, 'feels_like': -18.12, 'pressure': 1018, 'humidity': 100, 'dew_point': -8.57, 'clouds': 96, 'visibility': 2034, 'wind_speed': 1.14, 'wind_deg': 303, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'pop': 0.39}, {'dt': 1605081600, 'temp': -14.53, 'feels_like': -18.53, 'pressure': 1018, 'humidity': 100, 'dew_point': -9.2, 'clouds': 93, 'visibility': 3175, 'wind_speed': 0.93, 'wind_deg': 300, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'pop': 0.29}, {'dt': 1605085200, 'temp': -15.01, 'feels_like': -18.82, 'pressure': 1019, 'humidity': 100, 'dew_point': -9.75, 'clouds': 92, 'visibility': 4054, 'wind_speed': 0.63, 'wind_deg': 294, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'pop': 0.23}, {'dt': 1605088800, 'temp': -15.39, 'feels_like': -19.2, 'pressure': 1019, 'humidity': 100, 'dew_point': -10.23, 'clouds': 91, 'visibility': 6295, 'wind_speed': 0.6, 'wind_deg': 279, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'pop': 0.21}, {'dt': 1605092400, 'temp': -15.45, 'feels_like': -19.3, 'pressure': 1019, 'humidity': 100, 'dew_point': -10.37, 'clouds': 87, 'visibility': 9327, 'wind_speed': 0.65, 'wind_deg': 261, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'pop': 0.2}, {'dt': 1605096000, 'temp': -15.78, 'feels_like': -19.77, 'pressure': 1020, 'humidity': 100, 'dew_point': -10.72, 'clouds': 86, 'visibility': 7447, 'wind_speed': 0.83, 'wind_deg': 253, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'pop': 0.2}, {'dt': 1605099600, 'temp': -15.57, 'feels_like': -19.54, 'pressure': 1020, 'humidity': 100, 'dew_point': -10.42, 'clouds': 81, 'visibility': 5759, 'wind_speed': 0.82, 'wind_deg': 245, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'pop': 0}, {'dt': 1605103200, 'temp': -15.48, 'feels_like': -19.46, 'pressure': 1020, 'humidity': 100, 'dew_point': -10.35, 'clouds': 82, 'visibility': 3282, 'wind_speed': 0.83, 'wind_deg': 230, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'pop': 0}, {'dt': 1605106800, 'temp': -15.22, 'feels_like': -19.25, 'pressure': 1020, 'humidity': 100, 'dew_point': -10.08, 'clouds': 82, 'visibility': 5476, 'wind_speed': 0.93, 'wind_deg': 209, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'pop': 0.02}, {'dt': 1605110400, 'temp': -14.27, 'feels_like': -18.19, 'pressure': 1020, 'humidity': 100, 'dew_point': -9.17, 'clouds': 82, 'visibility': 10000, 'wind_speed': 0.84, 'wind_deg': 195, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'pop': 0.02}, {'dt': 1605114000, 'temp': -12.55, 'feels_like': -16.31, 'pressure': 1020, 'humidity': 100, 'dew_point': -7.45, 'clouds': 81, 'visibility': 10000, 'wind_speed': 0.75, 'wind_deg': 208, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'pop': 0.02}], 'daily': [{'dt': 1604948400, 'sunrise': 1604934127, 'sunset': 1604968775, 'temp': {'day': 0.77, 'min': -12.49, 'max': 0.77, 'night': -9.17, 'eve': -8.14, 'morn': -12.46}, 'feels_like': {'day': -2.7, 'night': -14.05, 'eve': -12.42, 'morn': -16.3}, 'pressure': 1024, 'humidity': 93, 'dew_point': -0.2, 'wind_speed': 2.08, 'wind_deg': 267, 'weather': [{'id': 601, 'main': 'Snow', 'description': 'snow', 'icon': '13d'}], 'clouds': 75, 'pop': 0.99, 'snow': 7.48, 'uvi': 1.45}, {'dt': 1605034800, 'sunrise': 1605020616, 'sunset': 1605055100, 'temp': {'day': -10.26, 'min': -12.93, 'max': -9.57, 'night': -12.93, 'eve': -9.95, 'morn': -10.75}, 'feels_like': {'day': -15.6, 'night': -17.22, 'eve': -14.79, 'morn': -18.14}, 'pressure': 1014, 'humidity': 100, 'dew_point': -4.71, 'wind_speed': 3.24, 'wind_deg': 266, 'weather': [{'id': 602, 'main': 'Snow', 'description': 'heavy snow', 'icon': '13d'}], 'clouds': 100, 'pop': 1, 'snow': 39.18, 'uvi': 1.3}, {'dt': 1605121200, 'sunrise': 1605107105, 'sunset': 1605141427, 'temp': {'day': -11.15, 'min': -15.78, 'max': -10.29, 'night': -15.48, 'eve': -11.93, 'morn': -15.78}, 'feels_like': {'day': -15, 'night': -19.4, 'eve': -15.81, 'morn': -19.77}, 'pressure': 1020, 'humidity': 100, 'dew_point': -6.35, 'wind_speed': 1.02, 'wind_deg': 249, 'weather': [{'id': 600, 'main': 'Snow', 'description': 'light snow', 'icon': '13d'}], 'clouds': 76, 'pop': 0.28, 'snow': 0.19, 'uvi': 1.25}, {'dt': 1605207600, 'sunrise': 1605193594, 'sunset': 1605227756, 'temp': {'day': -9.86, 'min': -15.38, 'max': -8.82, 'night': -13.48, 'eve': -10.37, 'morn': -15.38}, 'feels_like': {'day': -13.59, 'night': -17.91, 'eve': -14.2, 'morn': -19.29}, 'pressure': 1014, 'humidity': 100, 'dew_point': -5.01, 'wind_speed': 0.98, 'wind_deg': 125, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': 95, 'pop': 0, 'uvi': 1.33}, {'dt': 1605294000, 'sunrise': 1605280082, 'sunset': 1605314086, 'temp': {'day': -9.22, 'min': -14.03, 'max': -8.1, 'night': -9.43, 'eve': -9.18, 'morn': -13.41}, 'feels_like': {'day': -13.21, 'night': -14.38, 'eve': -13.98, 'morn': -17.26}, 'pressure': 1006, 'humidity': 100, 'dew_point': -4.12, 'wind_speed': 1.42, 'wind_deg': 150, 'weather': [{'id': 602, 'main': 'Snow', 'description': 'heavy snow', 'icon': '13d'}], 'clouds': 39, 'pop': 1, 'snow': 21.32, 'uvi': 1.19}, {'dt': 1605380400, 'sunrise': 1605366570, 'sunset': 1605400419, 'temp': {'day': -10.31, 'min': -11.13, 'max': -9.26, 'night': -10.82, 'eve': -11.06, 'morn': -9.26}, 'feels_like': {'day': -18.18, 'night': -15.53, 'eve': -18.52, 'morn': -17.6}, 'pressure': 1003, 'humidity': 100, 'dew_point': -4.63, 'wind_speed': 6.85, 'wind_deg': 249, 'weather': [{'id': 602, 'main': 'Snow', 'description': 'heavy snow', 'icon': '13d'}], 'clouds': 100, 'pop': 1, 'snow': 72.03, 'uvi': 1.3}, {'dt': 1605466800, 'sunrise': 1605453057, 'sunset': 1605486754, 'temp': {'day': -9.15, 'min': -10.64, 'max': -9.11, 'night': -9.69, 'eve': -9.32, 

In [14]:
# Obtain the temperatures from 8 Nov to 15 Nov 2020
temps=[]
days=[]
daily = data["daily"]

for entry in daily:
    temp = entry["temp"]
    day= entry["dt"]
    temps.append(temp)
    days.append(dt)

print(temps)
print(days)

[{'day': 0.77, 'min': -12.49, 'max': 0.77, 'night': -9.17, 'eve': -8.14, 'morn': -12.46}, {'day': -10.26, 'min': -12.93, 'max': -9.57, 'night': -12.93, 'eve': -9.95, 'morn': -10.75}, {'day': -11.15, 'min': -15.78, 'max': -10.29, 'night': -15.48, 'eve': -11.93, 'morn': -15.78}, {'day': -9.86, 'min': -15.38, 'max': -8.82, 'night': -13.48, 'eve': -10.37, 'morn': -15.38}, {'day': -9.22, 'min': -14.03, 'max': -8.1, 'night': -9.43, 'eve': -9.18, 'morn': -13.41}, {'day': -10.31, 'min': -11.13, 'max': -9.26, 'night': -10.82, 'eve': -11.06, 'morn': -9.26}, {'day': -9.15, 'min': -10.64, 'max': -9.11, 'night': -9.69, 'eve': -9.32, 'morn': -10.38}, {'day': -9.59, 'min': -10.55, 'max': -9.12, 'night': -10.55, 'eve': -9.92, 'morn': -9.69}]
['1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600']

In [15]:
# Obtain the humidity from 8 Nov to 15 Nov 2020
humidity=[]
days=[]
daily = data["daily"]

for entry in daily:
    hum = entry["humidity"]
    day= entry["dt"]
    humidity.append(hum)
    days.append(dt)
print(humidity)
print(days)

[93, 100, 100, 100, 100, 100, 100, 100]
['1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600']

In [16]:
# Obtain the wind speed from 8 Nov to 15 Nov 2020
wind_s=[]
days=[]
daily = data["daily"]

for entry in daily:
    wind = entry["wind_speed"]
    day= entry["dt"]
    wind_s.append(wind)
    days.append(dt)
print(wind_s)
print(days)

[2.08, 3.24, 1.02, 0.98, 1.42, 6.85, 2.2, 1.5]
['1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600']

The data for solar radiation and wind direction can not be obtained with this API

In [18]:
# Collecting the temperature for each day from 8 Nov to 15 Nov 2020

df = pd.json_normalize(data["daily"][0]["temp"])
print (df)
df1= pd.json_normalize(data["daily"][1]["temp"])
print(df1)
df2 = pd.json_normalize(data["daily"][2]["temp"])
print (df2)
df3= pd.json_normalize(data["daily"][3]["temp"])
print(df3)
df4 = pd.json_normalize(data["daily"][4]["temp"])
print (df4)
df5= pd.json_normalize(data["daily"][5]["temp"])
print(df5)
df6 = pd.json_normalize(data["daily"][6]["temp"])
print (df6)
df7= pd.json_normalize(data["daily"][7]["temp"])
print(df7)

    day    min   max  night   eve   morn
0  0.77 -12.49  0.77  -9.17 -8.14 -12.46
     day    min   max  night   eve   morn
0 -10.26 -12.93 -9.57 -12.93 -9.95 -10.75
     day    min    max  night    eve   morn
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78
    day    min   max  night    eve   morn
0 -9.86 -15.38 -8.82 -13.48 -10.37 -15.38
    day    min  max  night   eve   morn
0 -9.22 -14.03 -8.1  -9.43 -9.18 -13.41
     day    min   max  night    eve  morn
0 -10.31 -11.13 -9.26 -10.82 -11.06 -9.26
    day    min   max  night   eve   morn
0 -9.15 -10.64 -9.11  -9.69 -9.32 -10.38
    day    min   max  night   eve  morn
0 -9.59 -10.55 -9.12 -10.55 -9.92 -9.69

In [19]:
# Concateneting in a dataframe all the data from temperature
result = pd.concat([df,df1, df2, df3, df4, df5, df6, df7])
result

     day    min    max  night    eve   morn
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46
0 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78
0  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38
0  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41
0 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26
0  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38
0  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69

In [20]:
# Adding a Date column to specify the date of each of the measurements
result["Date"]=["08/11/2020", "09/11/2020", "10/11/2020", "11/11/2020", "12/11/2020", "13/11/2020", "14/11/2020", "15/11/2020"]
result

     day    min    max  night    eve   morn        Date
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46  08/11/2020
0 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75  09/11/2020
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78  10/11/2020
0  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38  11/11/2020
0  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41  12/11/2020
0 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26  13/11/2020
0  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38  14/11/2020
0  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69  15/11/2020

In [21]:
# Collecting the temperature for each day from 8 Nov to 15 Nov 2020

dict_0 = {"humidity" : data["daily"][0]["humidity"], "wind_speed": data["daily"][0]["wind_speed"] }
dict_1 = {"humidity" : data["daily"][1]["humidity"], "wind_speed": data["daily"][1]["wind_speed"] }
dict_2 = {"humidity" : data["daily"][2]["humidity"], "wind_speed": data["daily"][2]["wind_speed"] }
dict_3 = {"humidity" : data["daily"][3]["humidity"], "wind_speed": data["daily"][3]["wind_speed"] }
dict_4 = {"humidity" : data["daily"][4]["humidity"], "wind_speed": data["daily"][4]["wind_speed"] }
dict_5 = {"humidity" : data["daily"][5]["humidity"], "wind_speed": data["daily"][5]["wind_speed"] }
dict_6 = {"humidity" : data["daily"][6]["humidity"], "wind_speed": data["daily"][6]["wind_speed"] }
dict_7 = {"humidity" : data["daily"][7]["humidity"], "wind_speed": data["daily"][7]["wind_speed"] }

df0hw = pd.json_normalize(dict_0)
df1hw = pd.json_normalize(dict_1)
df2hw = pd.json_normalize(dict_2)
df3hw = pd.json_normalize(dict_3)
df4hw = pd.json_normalize(dict_4)
df5hw = pd.json_normalize(dict_5)
df6hw = pd.json_normalize(dict_6)
df7hw = pd.json_normalize(dict_7)

result_h_w = pd.concat([df0hw,df1hw, df2hw, df3hw, df4hw, df5hw, df6hw, df7hw])
result_h_w

   humidity  wind_speed
0        93        2.08
0       100        3.24
0       100        1.02
0       100        0.98
0       100        1.42
0       100        6.85
0       100        2.20
0       100        1.50

In [23]:
# COncatenate the values of both tables
joined_thw = pd.concat([result, result_h_w], axis=1)
joined_thw

     day    min    max  night    eve   morn        Date  humidity  wind_speed
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46  08/11/2020        93        2.08
0 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75  09/11/2020       100        3.24
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78  10/11/2020       100        1.02
0  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38  11/11/2020       100        0.98
0  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41  12/11/2020       100        1.42
0 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26  13/11/2020       100        6.85
0  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38  14/11/2020       100        2.20
0  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69  15/11/2020       100        1.50

In [24]:
# Giving an index to the rows of the table
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7])
joined_thw.set_index([s])

     day    min    max  night    eve   morn        Date  humidity  wind_speed
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46  08/11/2020        93        2.08
1 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75  09/11/2020       100        3.24
2 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78  10/11/2020       100        1.02
3  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38  11/11/2020       100        0.98
4  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41  12/11/2020       100        1.42
5 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26  13/11/2020       100        6.85
6  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38  14/11/2020       100        2.20
7  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69  15/11/2020       100        1.50

In [25]:
# Rename the columns as in the cleaned DataFrame
joined_clean=joined_thw.rename(columns={"day": "Temperature AVG"})
joined_clean1=joined_clean.rename(columns={"humidity": "Relative Humidity AVG"})
joined_clean2=joined_clean1.rename(columns={"wind_speed": "Wind Speed Daily AVG"})

joined_clean2

,Temperature AVG,min,max,night,eve,morn,Date,Relative Humidity AVG,Wind Speed Daily AVG
0,0.77,-12.49,0.77,-9.17,-8.14,-12.46,08/11/2020,93,2.08
0,-10.26,-12.93,-9.57,-12.93,-9.95,-10.75,09/11/2020,100,3.24
0,-11.15,-15.78,-10.29,-15.48,-11.93,-15.78,10/11/2020,100,1.02
0,-9.86,-15.38,-8.82,-13.48,-10.37,-15.38,11/11/2020,100,0.98
0,-9.22,-14.03,-8.10,-9.43,-9.18,-13.41,12/11/2020,100,1.42
0,-10.31,-11.13,-9.26,-10.82,-11.06,-9.26,13/11/2020,100,6.85
0,-9.15,-10.64,-9.11,-9.69,-9.32,-10.38,14/11/2020,100,2.20
0,-9.59,-10.55,-9.12,-10.55,-9.92,-9.69,15/11/2020,100,1.50

In [26]:
# Delete the not useful columns
joined_clean3=joined_clean2.drop(labels=["min", "max", "night", "eve", "morn"], axis=1)
joined_clean3

   Temperature AVG        Date  Relative Humidity AVG  Wind Speed Daily AVG
0             0.77  08/11/2020                     93                  2.08
0           -10.26  09/11/2020                    100                  3.24
0           -11.15  10/11/2020                    100                  1.02
0            -9.86  11/11/2020                    100                  0.98
0            -9.22  12/11/2020                    100                  1.42
0           -10.31  13/11/2020                    100                  6.85
0            -9.15  14/11/2020                    100                  2.20
0            -9.59  15/11/2020                    100                  1.50

In [27]:
# Changing from miles/hour to kilometers/hour the wind speed

def m_km(miles):
    km= 1.60934 * miles
    return km

joined_clean3["Wind Speed Daily AVG"]= joined_clean3["Wind Speed Daily AVG"].apply(m_km)
joined_clean3

   Temperature AVG        Date  Relative Humidity AVG  Wind Speed Daily AVG
0             0.77  08/11/2020                     93              3.347427
0           -10.26  09/11/2020                    100              5.214262
0           -11.15  10/11/2020                    100              1.641527
0            -9.86  11/11/2020                    100              1.577153
0            -9.22  12/11/2020                    100              2.285263
0           -10.31  13/11/2020                    100             11.023979
0            -9.15  14/11/2020                    100              3.540548
0            -9.59  15/11/2020                    100              2.414010

## Join the data of the previos DataFrame from data cleaning to this new DataFrame

In [28]:
weather_climbing_data

,Unnamed: 0,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,0,11/27/2015,Disappointment Cleaver,2,0,0.000000,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015,11
1,1,11/21/2015,Disappointment Cleaver,3,0,0.000000,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015,11
2,2,10/15/2015,Disappointment Cleaver,2,0,0.000000,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015,10
3,3,10/13/2015,Little Tahoma,8,0,0.000000,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015,10
4,4,10/9/2015,Disappointment Cleaver,2,0,0.000000,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4072,4072,1/16/2014,Little Tahoma,2,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4073,4073,1/6/2014,Disappointment Cleaver,8,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4074,4074,1/6/2014,Disappointment Cleaver,8,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4075,4075,1/5/2014,Disappointment Cleaver,2,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4076,4076,1/4/2014,Gibralter Ledges,3,2,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,2014,1

In [29]:
# # Insert the new values in the table from data cleaning
cleaned_df=weather_climbing_data.append(joined_clean3)
cleaned_df

,Unnamed: 0,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,0.0,11/27/2015,Disappointment Cleaver,2.0,0.0,0.0,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015.0,11.0
1,1.0,11/21/2015,Disappointment Cleaver,3.0,0.0,0.0,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015.0,11.0
2,2.0,10/15/2015,Disappointment Cleaver,2.0,0.0,0.0,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015.0,10.0
3,3.0,10/13/2015,Little Tahoma,8.0,0.0,0.0,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015.0,10.0
4,4.0,10/9/2015,Disappointment Cleaver,2.0,0.0,0.0,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,11/11/2020,NaN,NaN,NaN,NaN,NaN,-9.860000,100.000000,1.577153,NaN,NaN,NaN,NaN
0,NaN,12/11/2020,NaN,NaN,NaN,NaN,NaN,-9.220000,100.000000,2.285263,NaN,NaN,NaN,NaN
0,NaN,13/11/2020,NaN,NaN,NaN,NaN,NaN,-10.310000,100.000000,11.023979,NaN,NaN,NaN,NaN
0,NaN,14/11/2020,NaN,NaN,NaN,NaN,NaN,-9.150000,100.000000,3.540548,NaN,NaN,NaN,NaN
0,NaN,15/11/2020,NaN,NaN,NaN,NaN,NaN,-9.590000,100.000000,2.414010,NaN,NaN,NaN,NaN

In [30]:
# Delete column "Unnamed:0"
cleaned_df=cleaned_df.drop(labels="Unnamed: 0", axis=1)
cleaned_df

,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,11/27/2015,Disappointment Cleaver,2.0,0.0,0.0,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015.0,11.0
1,11/21/2015,Disappointment Cleaver,3.0,0.0,0.0,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015.0,11.0
2,10/15/2015,Disappointment Cleaver,2.0,0.0,0.0,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015.0,10.0
3,10/13/2015,Little Tahoma,8.0,0.0,0.0,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015.0,10.0
4,10/9/2015,Disappointment Cleaver,2.0,0.0,0.0,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,11/11/2020,NaN,NaN,NaN,NaN,NaN,-9.860000,100.000000,1.577153,NaN,NaN,NaN,NaN
0,12/11/2020,NaN,NaN,NaN,NaN,NaN,-9.220000,100.000000,2.285263,NaN,NaN,NaN,NaN
0,13/11/2020,NaN,NaN,NaN,NaN,NaN,-10.310000,100.000000,11.023979,NaN,NaN,NaN,NaN
0,14/11/2020,NaN,NaN,NaN,NaN,NaN,-9.150000,100.000000,3.540548,NaN,NaN,NaN,NaN
0,15/11/2020,NaN,NaN,NaN,NaN,NaN,-9.590000,100.000000,2.414010,NaN,NaN,NaN,NaN

In [108]:
# Add the year and month from the new entries to their respective columns
cleaned_df['Year'] = pd.DatetimeIndex(cleaned_df['Date']).year
cleaned_df['Month'] = pd.DatetimeIndex(cleaned_df['Date']).month
cleaned_df

,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,11/27/2015,Disappointment Cleaver,2.0,0.0,0.0,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015,11
1,11/21/2015,Disappointment Cleaver,3.0,0.0,0.0,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015,11
2,10/15/2015,Disappointment Cleaver,2.0,0.0,0.0,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015,10
3,10/13/2015,Little Tahoma,8.0,0.0,0.0,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015,10
4,10/9/2015,Disappointment Cleaver,2.0,0.0,0.0,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,11/11/2020,NaN,NaN,NaN,NaN,NaN,-10.100000,100.000000,3.548266,NaN,NaN,2020,11
0,12/11/2020,NaN,NaN,NaN,NaN,NaN,-8.920000,100.000000,2.434577,NaN,NaN,2020,12
0,13/11/2020,NaN,NaN,NaN,NaN,NaN,-10.080000,100.000000,20.512604,NaN,NaN,2020,11
0,14/11/2020,NaN,NaN,NaN,NaN,NaN,-9.060000,100.000000,5.179950,NaN,NaN,2020,11
0,15/11/2020,NaN,NaN,NaN,NaN,NaN,-9.580000,100.000000,2.900772,NaN,NaN,2020,11

## Export the cleaned DataFrame

In [109]:
cleaned_df.to_csv("API_info_clean.csv")